body {
    color: white;
    
    font-family: 'Roboto', sans-serif;
}
.head {
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}
.head p, .head h2, .head .mlogo {
    padding: .2em 1.5em;
}
.head a {
    color: white;
    background-color: #ffe43280;
    border-radius: .3em;
    text-decoration: none;
    padding: .2em .4em;
}


.head a:hover {
    background-color: #ffe432d2;
}
.head h2 {
    font-size: 1.2em;
    font-family: 'Barlow Condensed', sans-serif;
    display: block;
    font-weight: 300;
    
}

.logo {
    align-items: center;
    display: flex;
    flex-direction: row;
}
main {
    width: 100vw;
    height: 100vh;
      
}
.text {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 1em;
    width: 40%;
    max-width: 900px;   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    top: 25%;
    padding: 0 .4em;
}
.text > h1{
    margin: .4em 0 .1em 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
.video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw; 
    height: 100vh;
    z-index: -1;
}
#myVideo {
    width: 100%;
    height: 100%;
}
.mlogo {
    height: 2.5em;
    width: 2.5em;
}
.vlogo {
    height: 2.5em;
    width: 2.5em;
}

.buy {
    background-color: #ffe432c9;
    height: auto;
    width: 8em;
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    top: 112%;
    text-decoration: none;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;


}

.buy:hover{
    background-color: #ffe432f5;
}

.hlaska {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

@media only screen and (max-width: 992px) and (min-width: 500px) {
    .text {
        background-color: black;
        position: inherit;
        border-radius: 0;
        width: 100vw;
        max-width: 996px;  
        height: 60vh;
        margin: 0;
        padding: 3em 0 0 0;

    }
    .video {
        height: 40vh;
        width: 100vw;
        z-index: 1;
        overflow: visible;
    }
    .head {
        z-index: 2;
    }
    .buy {
        top: 20em;
        width: 6em;

    }
    .hlaska {
        margin-block-start: 0.3em;
    }

}
@media only screen and (max-width: 500px) {
    .video {
        height: 40vh;
        width: 100vw;
        z-index: 1;
    }
    .text {
        background-color: black;
        position: inherit;
        border-radius: 0;
        width: 100vw;
        height: 70vh;
        margin: 0;
        padding: 2em 0 0 0;

    }
    .text1 {
        text-align: left;
        padding-left: 1em;
    }
    .text2 {
        text-align: right;
        padding-right: 1em;
    }
    
    .head h2 {
        display: none;
    }
    .head span {
        display: visible;
    }
    .buy {
        position: inherit;
        top: 54%;
    }
    
}